<%- include('../layouts/header1') %>

		

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>

					<div class="row">
						<div class="col-xl-6 col-xxl-5 d-flex">
							<div class="w-100">
								<div class="row">
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Weekly Sales</h5>
													</div>
													<div class="col-auto">
														<div class="stat text-primary">
															<i class="align-middle" data-feather="dollar-sign"></i>
															<i class="align-middle" data-feather="truck"></i>
														</div>
													</div>
												</div>
												<h1 class="mt-1 mb-3">Rs.<%= currentWeekSales %></h1>
												<div class="mb-0">
													<span class="<%= comparisonClass %>"> 
														<i class="mdi mdi-arrow-bottom-right"></i> 
														<%= comparisonSign %><%= percentageDifference %>% 
													</span>
													<span class="text-muted"> Since last week</span>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Employees</h5>
													</div>

													<div class="col-auto">
														<div class="stat text-primary">
															<i class="align-middle" data-feather="users"></i>
														</div>
													</div>
												</div>
												<h1 class="mt-1 mb-3"><%=workerCount%></h1>
												<div class="mb-0">
													
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Today Sales</h5>
													</div>

													<div class="col-auto">
														<div class="stat text-primary">
															<i class="align-middle" data-feather="dollar-sign"></i>
														</div>
													</div>
												</div>
												<h1 class="mt-1 mb-3">Rs.<%=todaySales%></h1>
												<div class="mb-0">
													<span class="<%= todayComparisonClass %>"> 
														<i class="mdi mdi-arrow-bottom-right"></i> 
														<%= todayComparisonSign %><%= todayPercentageDifference %>% 
													</span>
													<span class="text-muted">Since yesterday</span>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Completed Orders</h5>
													</div>

													<div class="col-auto">
														<div class="stat text-primary">
															<i class="align-middle" data-feather="shopping-cart"></i>
														</div>
													</div>
												</div>
												<h1 class="mt-1 mb-3"><%=currentWeekOrders%>
												</h1>
												<div class="mb-0">
													<span class="<%= orderComparisonClass %>"> 
														<i class="mdi mdi-arrow-bottom-right"></i> 
														<%= orderComparisonSign %><%= orderPercentageDifference %>% 
													</span>
													<span class="text-muted"> since last week</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-6 col-xxl-7">
							<div class="card flex-fill w-100">
								<div class="card-header">

									<h5 class="card-title mb-0">Monthly Sales</h5>
								</div>
								<div class="card-body py-3">
									<div class="chart chart-sm">
										<canvas id="chartjs-dashboard-line"></canvas>
									</div>
								</div>
								<input type="hidden" value="<%- JSON.stringify(monthlySales) %>" id='ms'>
								<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

								<script>
									document.addEventListener("DOMContentLoaded", function() {
										var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
										var gradient = ctx.createLinearGradient(0, 0, 0, 225);
										gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
										gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
									
										// Monthly sales data from the server
										var monthlySalesData = JSON.parse(document.getElementById('ms').value); // Convert to JSON for JavaScript
									
										// Line chart
										new Chart(ctx, {
											type: "line",
											data: {
												labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
												datasets: [{
													label: "Sales ($)",
													fill: true,
													backgroundColor: gradient,
													borderColor: window.theme.primary,
													data: monthlySalesData // Use the monthly sales data here
												}]
											},
											options: {
												maintainAspectRatio: false,
												legend: {
													display: false
												},
												tooltips: {
													intersect: false
												},
												hover: {
													intersect: true
												},
												plugins: {
													filler: {
														propagate: false
													}
												},
												scales: {
													xAxes: [{
														reverse: true,
														gridLines: {
															color: "rgba(0,0,0,0.0)"
														}
													}],
													yAxes: [{
														ticks: {
															stepSize: 1000
														},
														display: true,
														borderDash: [3, 3],
														gridLines: {
															color: "rgba(0,0,0,0.0)"
														}
													}]
												}
											}
										});
									});
									</script>
							</div>
						</div>
					</div>
					
					

				</div>
			</main>
			

			<%- include('../layouts/footer1') %>


			